@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Special+Elite&display=swap');


*{
  margin: 0;
  padding: 0;
}
  

.tituloMenu{
 
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  color: coral;
  text-align: center;
  margin: 3px;
  background-color: black;
  padding: 15px;
}

header{
  border-bottom: 2px white solid;
}

.seccionesTitulo{
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  border-bottom: 2px black solid ;
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 3px;
  text-align: center;
}

.bio h3{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;  
}

.bio p{
  text-indent: 30px;
  border-bottom: 2px black solid;
  font-family: 'Roboto', sans-serif;
}

table {
  border: 2px black solid;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;  
}

tr, td, th{
  border: 1px black solid;
  border-collapse: collapse;
}

.subtituloSecciones{
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.premiosResultados{
  background-color: green;
  font-weight: bold;
}

.discoCanciones{
  font-size: 15px;
  color: black;
  font-family: 'Roboto', sans-serif;
  margin-left: 75px;
  margin-top: 15px;  
}

.discografia{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row ;
  margin-left: 60px;
  align-items: space-between;
}

.discografia div{
  width: 50%;
  margin-top: 50px;
}

.discografia a{

  margin-left: 60px;
  margin-bottom: 50px;
}

/*.discografia img{
  width: 400px;
  height: 350px;
  margin-left: 60px; 
  box-shadow: 0.3rem 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
  margin-top: 15px; 
}*/
.carousel-inner img {
  width: 700px !important;
  height: 550px !important;
  margin-left: 18%;
  margin-top: 50px;
}
.carouselPie{
  margin-top: 0% !important;
  margin-left: 0% !important;
}
.modelos{
  color: black !important;
}



ul{
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

#menu li a{
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
    min-width: 100px;
    text-align: center;
}

#menu li{
  float: left;
  text-align:center;
  position: relative;
  background-color: black;
}

#menu li a:hover{
  color: black;
  background-color: coral;
}

#menu li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

#menu li:hover>ul{
  display: block;
  background-color: coral;
}

.bodyIndex{
background-image: url(../Imagenes/iastoy.jpg);
background-position: center;
background-size: 60%;
background-repeat: no-repeat;
background-color: black;

}
.bodyIndex nav{
  background-color:  rgb(80, 40, 126) !important;
  
}
.bodyIndex nav a{
  color: white !important;
  font-weight: bold !important;
}


.boton button{
  background-color: rgb(151, 147, 172);
  color: black;
  margin-top: 150px;
  

}
.boton button:hover{
  background-color: rgba(255, 127, 80, 0.856);
  color: white;
}


.bodyPremios {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,108,111,1) 48%, rgba(131,128,145,1) 100%);
}

.bodyDisco{
  background-color: black;
}

.bodyContacto{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,108,111,1) 48%, rgba(131,128,145,1) 100%);
}

.bodyBio{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,108,111,1) 48%, rgba(131,128,145,1) 100%);
}

.bodyTour{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(108,108,111,1) 48%, rgba(131,128,145,1) 100%);
}


footer {
  background-color: black;
  position: flex !important;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: black;
  
}

footer img{
  width: 15px;
  height: 15px;
}

footer a{
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-left: 0px;
}

.botonEscuchame button{
  
  text-align: center;
  font-size: 16px; 
  background-color: white; 
  color: black; 
  border: 2px solid black;
  cursor:pointer;
  text-decoration: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.botonEscuchame button:hover {
  background-color:coral;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  transform: perspective(1 1.5);
}

.bio{
  display: flex;
  flex-direction:column;
  align-content: center;  
}

.bio div{
  width: 50%;
  margin-top: 50px;
  margin-left: 25%
}

.bioImagenes{
  display: flex;
  flex-direction: row;
  margin-left: 115px !important;
}

.bioImagenes img{
  width: 600px;
  height: 350px;
}

#grid{
  display: grid;
  grid-template-areas: 
    
    "titulo titulo titulo"
    "grammy grammy marilina"
    "gardel gardel marilina";

  grid-template-columns: 3fr 3fr 6fr;
  grid-template-rows: 4fr 4fr 4fr;
  justify-items: center;
}

.titulo{
  grid-area: titulo;
}

.marilinaGardel{
  grid-area: marilina;  
}

.grammy{
  grid-area: grammy;
}

.gardel{
  grid-area: gardel;
}

@media only screen and (min-width: 320px) and (max-width: 780px){
  #grid{
    display: grid;
    grid-template-areas: 
      "titulo"
      "grammy"
      "gardel"
      "marilina";
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 100%;
    margin-top: 200px;

    }
 }

  .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: auto; 
  }

  .formulario div{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  .tour{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour div h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: indigo;
}

.home{
  display: flex;
  flex-direction: column;
  align-items:flex-end;  
}

@keyframes titulos{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.seccionesTitulo{
  animation-duration: 5s;
  animation-name: titulos;
}

.marilinaGardel img{
  width: 400px;
  height: 550px;
}

.prueba{
  width: initial;
  height: 100px;
  background-color: black;
}

#home{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 320px) and (max-width: 780px){
  #home{
    display: flex;
    width: 100%;
    background-position: center;
  }

}

