@mixin body ($nombre) {
    @if $nombre== bodyIndex{

        background-image: url(../Imagenes/discoMobile.png);
        background-position:top;
        background-size: 20cm;
        background-repeat: no-repeat;
        background-color: black;
        text-align: center;
    }
   
    @else{
        background: black
    }
}
@mixin footer ($nombre) {
    @if $nombre== footerIndex{
        background-color: $color-principal;
        position: absolute;
        width: 100%;
        bottom: 0;
        
        
    }
    @else{
        background-color: $color-principal;
        width: 100%;
        bottom: 0;
    }
    
}