@mixin footerPosition($position) {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 0;
  position: $position;
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
 
}
@mixin estilos-a($size, $margin) {
  font-size: $size;
  margin-left: $margin;
  transform: scale(1);
}
@mixin titulos($size, $color) {
  font-size: $size;
  color: $color;
  font-weight: bold;
  font-family: $font-family-p;
}
