@mixin titulos ($size, $color) {
    font-size: $size;
    color: $color;
    font-weight: bold;
    font-family: $font-family-p;
   
}
/*MAPS EACH*/
@each $k, $v in $font-style {
    .fontRoboto-#{$k}{
        font-weight: $v;
    }

    
}
