$color-principal: #50287e;
$navBar-font-color:white;
$font-family-p: 'Roboto', sans-serif;
$font-family-titulos: 'Special Elite', cursive;
$ancho: 100%;
$font-style: (
    thin: 100,
    medium: 500,
    black: 900
)