$color-principal: rgba(0,0,0, 0.57);
$navBar-font-color:white;
$font-family-p: 'Roboto', sans-serif;
$font-family-titulos: 'Syncopate', sans-serif;
$ancho: 100%;

$parrafoColor: rgba(108, 117, 125, 1);
