@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
/*MAPS EACH*/
.fontRoboto-thin {
  font-weight: 100;
}

.fontRoboto-medium {
  font-weight: 500;
}

.fontRoboto-black {
  font-weight: 900;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.seccionesTitulo {
  font-family: "Special Elite", cursive;
  font-size: 30px;
  border-bottom: 2px rgba(248, 245, 245, 0.651) solid;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: white;
}

.bio p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
}

.fuente {
  font-size: 12px;
}

/*table {
  border: 2px white solid;
  border-collapse: collapse;
  font-family: $font-family-p;  
}

tr, td, th{
  border: 1px white solid;
  border-collapse: collapse;
}*/
.subtituloSecciones {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.tituloDiscos {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.premiosResultados {
  background-color: green;
  font-weight: bold;
}

.discoCanciones {
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 75px;
  margin-top: 15px;
}

.discografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.discografia div {
  margin-top: 100px;
}

.discografia a {
  margin-left: 60px;
  margin-bottom: 50px;
}

.discografia img {
  width: 400px;
  height: 350px;
  margin-left: 60px;
  -webkit-box-shadow: 0.3rem 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.3rem 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin-top: 15px;
}

@media all and (min-width: 780px) {
  .discografia div {
    margin-top: 50px;
  }
}

.carousel-inner img {
  width: 300px !important;
  height: 300px !important;
  margin-top: 50%;
  margin-left: 25px;
}

@media all and (min-width: 780px) {
  .carousel-inner img {
    width: 700px !important;
    height: 550px !important;
    margin-top: 50px;
    margin-left: 20%;
  }
}

.carouselPie {
  margin-top: 0% !important;
  margin-left: 0% !important;
}

.modelos {
  color: black !important;
}

ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.bodyIndex {
  background-image: url(../Imagenes/discoMobile.png);
  background-position: top;
  background-size: 20cm;
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
}

@media all and (min-width: 768px) {
  .bodyIndex {
    background-image: url(../Imagenes/disco.png);
    background-size: 60%;
    text-align: center;
  }
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light {
  background-color: rgba(17, 17, 17, 0.7) !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.bodyDiscos {
  background: black;
}

.bodyPremios {
  background: black;
}

.bodyDisco {
  background: black;
}

.bodyContacto {
  background: black;
}

.bodyBio {
  background: black;
}

.bodyTour {
  background: black;
}

.footerSecciones {
  background-color: rgba(17, 17, 17, 0.7);
  width: 100%;
  bottom: 0;
}

.footerIndex {
  background-color: rgba(17, 17, 17, 0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footerSecciones div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footerIndex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.intro {
  text-align: center;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.bio div {
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  margin-bottom: 50px;
}

#grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*.titulo{
  grid-area: titulo;
}



.grammy{
  grid-area: grammy;
}

.gardel{
  grid-area: gardel;
}*/
/*@media only screen and (min-width: 320px) and (max-width: 780px){
  #grid{
    display: grid;
    grid-template-areas: 
      "titulo"
      "grammy"
      "gardel"
      "marilina";
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: $ancho;
    margin-top: 200px;

    }
 }*/
.marilinaGardel {
  margin-left: 30%;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: auto;
}

.formulario div {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour div h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@-webkit-keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.seccionesTitulo {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: titulos;
          animation-name: titulos;
}

.marilinaGardel img {
  width: 400px;
  height: 550px;
  margin-bottom: 50px;
}

.prueba {
  width: initial;
  height: 100px;
  background-color: black;
}
/*# sourceMappingURL=estilos.css.map */