@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
/*MAPS EACH*/
.fontRoboto-thin {
  font-weight: 100;
}

.fontRoboto-medium {
  font-weight: 500;
}

.fontRoboto-black {
  font-weight: 900;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 400px;
}

.bg-img {
  background-image: url(../Imagenes/disco3.jpg);
  background-position: top;
  background-repeat: no-repeat;
}

@media all and (min-width: 430px) and (max-width: 1200px) {
  .bg-img {
    background-image: url(../Imagenes/disco31.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media all and (min-width: 375px) and (max-width: 430px) {
  .bg-img {
    background-image: url(../Imagenes/disco31.jpg);
    background-size: 150%;
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media all and (max-width: 575px) {
  .row {
    margin-top: 30px !important;
  }
}

.mi-iframe {
  width: 560px;
  height: 315px;
}

/* CSS pantallas de 320px o superior */
@media (min-width: 768px) {
  .mi-iframe {
    width: 200px;
    height: 150px;
  }
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light {
  background-color: black !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.text-muted {
  color: white !important;
}

.footerPosition1 {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footerPosition2 {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 0;
  position: inherit;
}

footer ul {
  list-style: none;
}

/*.footerPosition2 div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}
.footerPosition1 div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
}*/
.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio div {
  width: 50%;
}

.bio p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
}

.youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.youtube p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}

.parpadea {
  -webkit-animation-name: parpadea;
          animation-name: parpadea;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes parpadea {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes parpadea {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

.titulos {
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
  border-bottom: 2px rgba(248, 245, 245, 0.651) solid;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: titulos;
          animation-name: titulos;
}

@-webkit-keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitulos {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.textos-estilo {
  font-size: 20pxpx;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
}

.galeria {
  margin-bottom: 30px;
}

.discografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
}

.discografia div {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.discografia div:hover {
  -webkit-animation-name: zoom-img;
          animation-name: zoom-img;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.disco-img {
  width: 400px;
  height: 350px;
  margin-left: 60px;
  border-radius: 2vh;
}

@-webkit-keyframes zoom-img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom-img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.estilos-a {
  font-size: 20px;
  margin-left: 55px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.estilos-aFooter {
  font-size: 15px;
  margin-left: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.estilos-aFooter {
  color: white;
}

.estilos-aFooter {
  color: white;
}

.estilos-a:link {
  color: white;
}

.estilos-a:visited {
  color: white;
}

.album-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 50px;
  margin-top: 30px;
}

.album-1.album-1 li {
  margin-left: 30px;
  color: white;
}

.fichaTecnica {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-success {
  height: 50%;
  margin-left: 80px;
}

form {
  margin-left: 300px;
  margin-bottom: 50px;
}

.form-row {
  margin-left: 8px !important;
}

/*.seccionesTitulo{
  font-family: $font-family-titulos;
  font-size: 30px;
  border-bottom: 2px rgba(248, 245, 245, 0.651) solid ;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: white;
}

.bio p{
  font-size: 18px;
  font-family: $font-family-p;
  color: $parrafoColor;
  
}
.fuente{
  font-size: 12px;
}

/*table {
  border: 2px white solid;
  border-collapse: collapse;
  font-family: $font-family-p;  
}

tr, td, th{
  border: 1px white solid;
  border-collapse: collapse;
}

.subtituloSecciones{
  @include titulos (20px, white)
}
.tituloDiscos{
    @include titulos(20px, white);
}

.premiosResultados{
  background-color: green;
  font-weight: bold;
}

.discoCanciones{
  font-size: 15px;
  color: white;
  font-family: $font-family-p;
  margin-left: 75px;
  margin-top: 15px;  
}

.discografia{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row ;
  margin-left: 60px;
  align-items: space-between;
}

.discografia div{
  
  margin-top: 100px;
}

.discografia a{

  margin-left: 60px;
  margin-bottom: 50px;
}

.discografia img{
  width: 400px;
  height: 350px;
  margin-left: 60px; 
  box-shadow: 0.3rem 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
  margin-top: 15px; 
}
@media all and (min-width:780px){
  .discografia div{

    margin-top: 50px;

  }
 
}



.carousel-inner img {
  width: 300px !important;
  height: 300px !important;
  margin-top: 50%;
  margin-left: 25px;
}

@media all and (min-width:780px){
  .carousel-inner img{

    width: 700px !important;
    height: 550px !important;
    margin-top: 50px;
    margin-left: 20%;

  }
}


.carouselPie{
  margin-top: 0% !important;
  margin-left: 0% !important;
}

.modelos{
  color: black !important;
}



ul{
  list-style: none;
  font-family: $font-family-p;
}



.bodyIndex{

    @include body (bodyIndex);
}
@media all and (min-width: 768px){
  .bodyIndex{

    background-image: url(../Imagenes/disco.png);
    background-size: 60%;
    text-align: center;

  }
 
}

.navbar-nav{
  align-items: center;

}

.bg-light {
    background-color: $color-principal !important;
}

.navbar-light .navbar-brand {
  
  color: $navBar-font-color !important;
}

.navbar-light .navbar-nav .nav-link {
    
    color: white !important;
}

.bodyDiscos{
   @include body (discos);
}

.bodyPremios {
    @include body (premios);
}

.bodyDisco{
    @include body (discografia);
}

.bodyContacto{
    @include body (contacto);
}

.bodyBio{
    @include body (bio);
}

.bodyTour{
    @include body (tour);
}
.footerSecciones{
  @include footer (footerSecciones);
}

.footerIndex {
    @include footer (footerIndex);
    
  
}
.footerSecciones div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footerIndex div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.intro{
  text-align: center;
}

.bio{
  display: flex;
  flex-direction:column;
  align-content: center;  
}

.bio div{
  width:  $ancho/2;
  margin-top: 50px;
  margin-left:  $ancho/4;
  margin-bottom: 50px;
}



#grid{
  display: flex;
  flex-direction: column;
 
}

/*.titulo{
  grid-area: titulo;
}



.grammy{
  grid-area: grammy;
}

.gardel{
  grid-area: gardel;
}*/
/*@media only screen and (min-width: 320px) and (max-width: 780px){
  #grid{
    display: grid;
    grid-template-areas: 
      "titulo"
      "grammy"
      "gardel"
      "marilina";
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: $ancho;
    margin-top: 200px;

    }
 }
 .marilinaGardel{
  margin-left: 30%;  
}

  .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: auto; 
 
  }

  .formulario div{
    margin-top: 30px;
    font-family: $font-family-p;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    
  }
label{
  font-family: $font-family-p;
  font-size: 20px;
  align-items:center ;
}
  .tour{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour div h2{
    font-family: $font-family-p;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.home{
  display: flex;
  flex-direction: column;
  align-items:flex-end;  
}

@keyframes titulos{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.seccionesTitulo{
  animation-duration: 5s;
  animation-name: titulos;
}

.marilinaGardel img{
  width: 400px;
  height: 550px;
  margin-bottom: 50px;
}

.prueba{
  width: initial;
  height: 100px;
  background-color: black;
}
*/
/*# sourceMappingURL=estilos.css.map */