@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 400px;
}

.bg-img {
  background-image: url(../Imagenes/disco3.jpg);
  background-position: top;
  background-repeat: no-repeat;
}

/*media query background pantalla grande/media*/
@media all and (min-width: 430px) and (max-width: 1200px) {
  .bg-img {
    background-image: url(../Imagenes/disco31.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

/*mediaquery back pantalla chica/media*/
@media all and (min-width: 375px) and (max-width: 430px) {
  .bg-img {
    background-image: url(../Imagenes/disco31.jpg);
    background-size: 150%;
    background-position: top;
    background-repeat: no-repeat;
  }
}

.intro {
  margin-top: 50px !important;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.57) !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.text-muted {
  color: white !important;
}

.dropdown-menu {
  color: black !important;
  background-color: coral !important;
}

footer {
  margin-top: 50px;
}

.footerPosition1 {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footerPosition2 {
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
  bottom: 0;
  position: inherit;
}

footer ul {
  list-style: none;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 70px;
}

.bio p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
}

.bio div img {
  width: 100%;
}

.infoBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  margin-left: 30px;
}

/*media query imagen biografia*/
@media all and (min-width: 768px) and (max-width: 992px) {
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio div img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-top: -100px;
  }
}

.youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.youtube p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}

.parpadea {
  -webkit-animation-name: parpadea;
          animation-name: parpadea;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes parpadea {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadea {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulos {
  font-family: "Syncopate", sans-serif;
  font-size: 30px;
  border-bottom: 2px rgba(248, 245, 245, 0.651) solid;
  margin-top: 50px;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: titulos;
          animation-name: titulos;
}

@-webkit-keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titulos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitulos {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.textos-estilo {
  font-size: 20pxpx;
  font-family: "Roboto", sans-serif;
  color: #6c757d;
}

.galeria {
  margin-top: -3.75rem;
}

.discografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 60px;
}

/*media query discografia*/
@media all and (max-width: 992px) {
  .discografia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

@media all and (max-width: 768px) {
  .disco-img {
    margin-left: 0px !important;
  }
  .discografia div img {
    width: 300px;
    height: auto;
  }
}

.discografia div {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.discografia div:hover {
  -webkit-animation-name: zoom-img;
          animation-name: zoom-img;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.disco-img {
  width: 400px;
  height: auto;
  margin-left: 60px;
  border-radius: 2vh;
}

@-webkit-keyframes zoom-img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom-img {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.estilos-a {
  font-size: 20px;
  margin-left: 55px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.estilos-aFooter {
  font-size: 15px;
  margin-left: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.estilos-aFooter {
  color: white;
}

.estilos-aFooter {
  color: white;
}

.estilos-a:link {
  color: white;
}

.estilos-a:visited {
  color: white;
}

.album-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 50px;
  margin-top: 30px;
}

.album-1.album-1 li {
  margin-left: 30px;
  color: white;
}

@media all and (max-width: 992px) {
  .album-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}

.fichaTecnica {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-success {
  height: 50%;
  margin-left: 80px;
}

form {
  margin-bottom: 50px;
}

.form-row {
  margin-left: 8px !important;
}

/*boton escuchame*/
.btn {
  margin-left: 150px !important;
  height: 60px !important;
}

.noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 70px;
}

.infoNoticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

/*pantallas grandes*/
.carousel-item img {
  height: auto;
  width: 360px;
}

/*media query pantallas medias*/
@media all and (min-width: 768px) and (max-width: 992px) {
  .carousel-item img {
    height: auto;
    width: 100px;
  }
  .noticias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 390px) {
  .galeria-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galeria-img.galeria-img div img {
    width: 300px;
    margin-left: 30px;
    -webkit-box-shadow: 0 8px 6px -6px white;
            box-shadow: 0 8px 6px -6px white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 390px) and (max-width: 768px) {
  .galeria-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  .galeria-img.galeria-img div img {
    width: 400px;
    margin-left: 30px;
    -webkit-box-shadow: 0 8px 6px -6px white;
            box-shadow: 0 8px 6px -6px white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 768px) {
  .disco-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .album-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .album-1 img {
    width: 300px;
    height: auto;
  }
  .album-1 ol {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
    margin-top: 30px;
  }
  .album-1 a {
    margin-left: 30px;
    margin-top: 50px;
  }
  .fichaTecnica {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .album-1 ol {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 60px;
    margin-top: 30px;
  }
  .album-1 a {
    margin-left: 30px;
    margin-top: 50px;
  }
}

@media all and (min-width: 992px) {
  .fot-especial {
    position: absolute;
  }
}
/*# sourceMappingURL=estilos.css.map */